.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.tab_item {
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #4e016a;
}

.tab_item.active {
    border-color: black;
    background: #a1d600;
    color: white;
}

.content {
    text-align: center;
}
